.title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
    max-width: calc(100% - 2 * 16px);
    width: 100%;
    margin: 0 auto;
}
