.ingredients {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 670px;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    width: 12px;
}
.container::-webkit-scrollbar-track {
    background: #2F2F37;
}
.container::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #2F2F37;
    border-radius: 6px;
}



