.ingredients {
    display: flex;
    flex-direction: column;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.ingredients__list {
    display: flex;
}

.ingredients__items_title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}


